body {
    color: black;
    background-color: #FEFEF9;
}

.first {
    background-color: #fff1e1;
    text-align: center;
    width: 900px;
    height: auto;
    border:1px solid ;
    margin: auto;
}

.second {
    background-color: #fff1e1;
    text-align: center;
    width: 100px;
    height: auto;
    border:1px solid ;
    margin: 50px auto;

}

#para-center {
    text-align: center;
}

.button-index {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
}

.intro {
    color: red;
    text-align: center;
}

ul {
    color: blue;
}

ol {
    color: brown;
}

#How {
    text-align: center;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: lighter;
}